html, body {
    &.active {
        overflow: hidden;
    }
    @include mq($bp-xs) {
        &.active {
            overflow: auto;
        }
    };
}

body {
    font-family: $font-family-primary;
    font-weight: 600;
    color: #fff;
    position: relative;

    @include mq($bp-xl) {
        background-position: 74% 100px;
    };
}

p {
    line-height: 1.3em;
}
