.presentation {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: auto 85vh;
    position: relative;
    background: url('../img/warrior-full.svg') no-repeat 75% 100px;
    background-size: 50vh auto;
    overflow: hidden;

}

    .presentation__text {
        color: $color-primary;
        font-size: rem(48);
        width: 100%;
        line-height: 1.3em;
        display: block;
        margin-top: rem($space-xl);
        font-weight: 900;
        padding: rem($space-s);

        text-shadow: 4px 4px 0 $color-dark, -4px -4px 0 $color-dark, 4px -4px 0 $color-dark, -4px 4px 0 $color-dark;

        @include mq($bp-sm) {
            width: 40%;
            text-align: right;
            margin-left: rem($space-s);
            font-size: rem(64);
            margin-top: 0;
            margin-left: 0;
            padding-left: 0;
        };
    }

    .presentation__scroll {
        display: block;
        width: 70px;
        height: 70px;
        border-radius: 100%;
        background: $color-dark url('../img/mouse_red.svg') no-repeat center;
        background-size: 27px 41px;
        margin: 0 auto rem($space-m);
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);

        animation: ctaAnim 2s infinite alternate $ease-in-out-primary; 
    }

    @keyframes ctaAnim {
        0% {
            transform: translate(-50%, -10px);
        }
        80% {
            transform: translate(-50%, -10px);
        }
        90% {
            transform: translate(-50%, 10px);
        }
        100% {
            transform: translate(-50%, 5px);
        }
    }

.anim {
    position: absolute;
    top: 0;
    background-color: $color-dark;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.beliefs {
    color: $color-dark;
    background-color: #fff;
    @include mq($bp-sm) {
        max-width: 45%;
    };
}

    .beliefs__highlight {
        strong {
            font-size: rem(48);
            line-height: 1.3em;
            font-weight: 900;
            display: block;
            margin-bottom: rem($space-xs);
        }
    }

        .beliefs__areas__items {
            list-style: none;
            padding: 0;
        }

            .beliefs__areas__items__item {
                background-color: $color-dark;
                color: #ffffff;
                padding: rem($space-xs);
                margin-top: rem($space-s);

                &:first-child {
                    margin-top: 0;
                }

                h3 {
                    text-transform: uppercase;
                    margin: 0;

                    &:before {
                        content: "/"
                    }
                }

                p {
                    font-weight: 300;
                    margin: 0
                }
            }

.work {
    background: #fff 200px top;
}

    .work__list {
        list-style: none;
        padding: 0;
    }

        .work__list__items {
            display: inline-block;
            vertical-align: top;
            position: relative;

            &:first-child {
                width: 100%;
            }

            width: 100%;
            padding-bottom: 100%;
            margin-bottom: rem($space-s);

            @include mq($bp-sm) {
                width: 48.5%;
                padding-bottom: 48.5%;

                &:first-child {
                    padding-bottom: 50%;

                    .work__list__items__inner > div {
                        width: 50%;
                    }
                }


                &:last-child {
                    margin-left: 3%;
                }
            };
        }

            .work__list__items__inner {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                padding: 0 0 0 rem($space-l);
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                color: #fff;

                background-size: cover;
                background-position: top center;

                @include mq($bp-sm) {
                    padding: rem($space-m);
                };

                > div {
                    background-color: $color-dark;
                    display: inline-block;
                    padding: rem($space-xs);

                    transition: all $time-s $ease-in-out-primary;

                    @include mq($bp-sm) {
                        padding: rem($space-s);
                        opacity: 0;
                    };
                }

                h3, section {

                    @include mq($bp-sm) {
                        transform: translateX(-50px);
                        transition: transform $time-s $ease-in-out-primary;
                    };
                }

                h3 {
                    margin: 0 0 rem($space-xs) 0;

                    &:before {
                        content: "/ ";
                    }
                }

                section {
                    margin-bottom: rem($space-xxs);
                }

                h4, p {
                    display: inline-block;
                    margin: 0;
                }

                h4 {
                    font-weight: 600;

                    &:after {
                        content: ":";
                    }
                }

                p {
                    font-weight: 300;

                    &.colored {
                        color: $color-primary;
                    }
                }

                &:hover {
                    > div {
                        opacity: 1;
                    }

                    h3, section {
                        transform: translateX(0);
                    }
                }
            }

.contact {
    text-align: center;
    background-color: $color-dark;

    header {
        display: inline-block;
    }

    svg {
        display: block;
        text-align: center;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: rem($space-xxs);
    }

    svg path {
        fill: $color-primary;
    }

    p {
        color: $color-primary;
    }

    a {
        display: block;
        margin-top: rem($space-s);
        font-size: rem(24);
        font-weight: 900;
    }
}

    .contact__workers {
        list-style: none;
        padding: 0;

        img {
            width: 100%;
            border-radius: 100%;

            transition: $time-xs all $ease-in-out-primary;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

        .contact__workers__name {
            color: $color-primary;
        }


.home__anchor-magnet {
    display: block;
}