

        <section id="contact" class="section contact">
            <div class="wrap">
                <header class="push-top-l">
                    <h2 class="page-subtitle">Wanna talk ?</h2>
                </header>
                <main>
                    <p>
                        <ul class="contact__workers grid-center">
                            <li class="col-6_sm-3">
                                <img src="" alt="">
                                <h3 class="contact__workers__name">
                                    name
                                </h3>
                            </li>
                        </ul>
                    </p>
                    <p>
                        <svg width="123px" height="26px" viewBox="0 0 123 26" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <!-- Generator: Sketch 39.1 (31720) - http://www.bohemiancoding.com/sketch -->
                            <title>Page 1</title>
                            <desc>Created with Sketch.</desc>
                            <defs></defs>
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="Desktop-HD-Copy" transform="translate(-276.000000, -39.000000)" fill="#FF564A">
                                    <g id="Group" transform="translate(250.000000, 0.000000)">
                                        <g id="Page-1" transform="translate(26.000000, 39.000000)">
                                            <path d="M9.71481782,4.66842555 C8.09736724,4.70884782 7.28822052,4.72990108 5.6716128,4.77284974 C5.66402705,10.8328212 5.65981274,13.8619647 5.65222699,19.9219362 C7.26546327,19.7341411 8.07208141,19.6440331 9.68531768,19.4697121 C9.69711774,13.5495343 9.70301777,10.5886033 9.71481782,4.66842555 M14.3800544,20.8794386 C14.3792115,21.4234549 14.1861963,21.9885245 13.8035374,22.5780159 C13.4208784,23.1683494 12.9480333,23.500991 12.3858449,23.5708878 C7.42392117,24.1949066 4.94590933,24.5469171 0,25.3292564 C0.119686286,24.9957727 0.300058576,24.6420779 0.419744862,24.320384 C0.514988174,24.0652185 0.590002818,23.7359454 0.690303297,23.4268835 C0.789760915,23.1186637 0.841175446,22.8272866 0.841175446,22.5519099 L0.845389752,2.80394852 C0.845389752,2.52941396 0.79397522,2.24645809 0.693674741,1.95339666 C0.593374262,1.6594931 0.518359618,1.29148205 0.422273445,1.05063271 C0.304272882,0.754202762 0.120529147,0.116709937 0,0.116709937 L12.4414737,0.116709937 C13.004505,0.116709937 13.4765072,0.431666762 13.8583233,0.957998355 C14.2392966,1.48348782 14.4297832,2.04097824 14.4280975,2.58499457 C14.4087117,9.89216134 14.3994402,13.5714297 14.3800544,20.8794386" id="Fill-1"></path>
                                            <path d="M31.4018885,19.3642773 C31.4002028,19.8948196 31.4988176,20.4017822 31.6994185,20.8826387 C31.7786475,21.142857 31.878948,21.3828642 31.9986342,21.6043446 C26.001677,22.0540423 23.0061484,22.336156 17.0252056,23.0157554 C17.1465776,22.6822717 17.2072636,22.5155298 17.3286356,22.1820461 C17.4095503,21.9243542 17.4811935,21.6506618 17.5427224,21.3609688 C17.6034084,21.0712759 17.6345942,20.7832673 17.6354371,20.4994693 C17.6565086,13.4087301 17.6666229,9.86336048 17.6876945,2.77262126 C17.6885373,2.48882326 17.6590372,2.20502527 17.599194,1.92206941 C17.5393509,1.63911354 17.4693934,1.37215816 17.3901645,1.12372965 C17.2704782,0.804562169 17.2106351,0.644557365 17.0909488,0.323705626 C23.0820059,0.321179234 22.7060899,0.319494973 28.6971471,0.316968581 C28.6558469,0.515711391 28.5985323,0.724559767 28.5134033,0.913197009 C28.4409173,1.07572821 28.3616883,1.26941823 28.3010023,1.48500365 C28.2394734,1.70058907 28.1678302,1.90775319 28.0869156,2.10733813 C27.841643,3.4050613 27.7185852,4.05602822 27.4724698,5.3596463 C27.1479682,5.23248459 26.7964951,5.09016453 26.439122,4.97479264 C26.1264205,4.87373698 25.7909617,4.77604983 25.4664602,4.66236221 C25.1419586,4.54951672 24.878986,4.46109301 24.6775421,4.39540683 C22.4633459,4.43161844 24.7272709,4.45182957 22.5130747,4.4939361 C22.5063318,6.41399375 22.5038032,7.37318044 22.4970603,9.29323809 C24.5940989,9.20734078 25.6426182,9.16776064 27.7396568,9.09449528 C28.2276734,8.97491275 28.4721031,8.91596361 28.9601197,8.79806533 C28.5909465,10.7602295 28.4063599,11.7446801 28.0380296,13.7203184 C27.7944427,13.5089436 27.6722279,13.4028352 27.428641,13.1906183 C25.4504458,13.2933582 24.4609268,13.3480967 22.4835745,13.465995 C22.4776745,15.3852105 22.474303,16.3452393 22.468403,18.2644548 C24.9236576,18.065712 26.1517063,17.9747619 28.6086466,17.8071779 C28.8109333,17.7937038 29.0747489,17.7414918 29.3992504,17.653068 C29.723752,17.5638022 30.0608964,17.4635887 30.3744408,17.3372691 C30.7343425,17.1932648 31.0849727,17.0248387 31.4103172,16.8707288 C31.4069457,17.8678113 31.40526,18.3671948 31.4018885,19.3642773" id="Fill-4"></path>
                                            <path d="M47.2278713,0.116962576 C47.0247417,0.116962576 46.8536409,0.730033615 46.7128831,1.035727 C46.5704396,1.34226252 46.4591819,1.69343096 46.3782672,2.01512483 C44.6967592,8.74459004 43.8547409,12.1510081 42.1664899,19.007635 C42.1664899,19.2350103 42.2162188,19.4699647 42.3156764,19.6922872 C42.4159769,19.9146096 42.5011058,20.1394585 42.5870777,20.317148 C42.6907496,20.5335756 42.8475218,20.7457925 43.0093511,20.9327455 C40.2000948,21.0641178 38.796731,21.1432781 35.9900033,21.3251783 C36.1509898,21.0834868 36.3102906,20.8384268 36.4156482,20.6051567 C36.50162,20.4156773 36.5774775,20.1840914 36.6592351,19.9482949 C36.7401497,19.7133404 36.8016786,19.4952286 36.8429788,19.2948015 C35.2179425,12.5678627 34.40711,9.16986597 32.7871309,2.27029039 C32.7466735,2.03786236 32.6876733,1.80290793 32.6084443,1.56963777 C32.5283725,1.33805187 32.4533578,1.10562384 32.3682289,0.919512989 C32.2653998,0.692137741 32.1077848,0.468131015 31.9476411,0.267703944 C34.4121672,0.266861814 35.6435874,0.266861814 38.1081134,0.266019683 C38.0263559,0.398234179 37.9454412,0.529606545 37.8653694,0.66097891 C37.7836119,0.792351276 37.7136544,0.924565772 37.6529684,1.05593814 C37.5922824,1.1873105 37.5408679,1.33552548 37.5004105,1.49974094 C38.3120858,4.93058079 38.717502,6.63589515 39.5300202,10.027997 C40.3863672,6.59210436 40.8136978,4.88426361 41.668359,1.48542472 C41.5874443,1.32373565 41.5183297,1.17720494 41.4576437,1.04751683 C41.3978006,0.917828727 41.3278431,0.711506743 41.2477713,0.582660769 C41.1676995,0.452972665 41.0867848,0.116962576 41.0075558,0.116962576 L47.2278713,0.116962576 Z" id="Fill-6"></path>
                                            <path d="M56.0361076,10.7614927 C55.602877,8.47426614 55.3862617,7.32981072 54.953031,5.04005776 C54.540029,7.33317924 54.3335281,8.48100318 53.9196832,10.7791774 C54.7659158,10.7707561 55.1890321,10.7673876 56.0361076,10.7614927 M62.3289091,18.4122487 C62.4089809,18.6665722 62.5193957,18.9057372 62.6618393,19.1280597 C62.8025971,19.3503822 62.9315548,19.5844945 63.0554554,19.7958692 C63.203799,20.0485084 63.3782713,20.2901999 63.5401006,20.5133645 C60.8749736,20.4982061 59.5415672,20.5015746 56.8764402,20.5318913 C56.7955255,20.5327335 56.8663259,20.3255693 57.0888412,19.9095568 C57.3105137,19.4943865 57.4226142,18.9848975 57.4234571,18.3810899 C57.1335129,16.8004109 56.9885407,16.0104924 56.6985965,14.4298134 C55.3188328,14.4407611 54.6293723,14.4491824 53.2496086,14.4685514 C52.9571358,16.0610202 52.8104779,16.8576757 52.5180051,18.4518289 C52.5576196,18.8341561 52.6081912,19.1609028 52.6680344,19.4303846 C52.7278775,19.7007085 52.8071065,19.917136 52.8795925,20.0712459 C52.9630358,20.2506197 53.0195075,20.4358884 53.0599648,20.594209 C50.3712377,20.6506317 49.0268741,20.6902119 46.338147,20.7929518 C46.5404337,20.4645209 46.7427204,20.1268265 46.9450071,19.781553 C47.1481366,19.4371216 47.3504233,18.988266 47.5535528,18.4358284 C48.9704024,11.9910033 49.677563,8.79343361 51.0893554,2.42271602 C51.0893554,2.19955142 51.0598553,1.96712339 50.9991693,1.72711618 C50.9393261,1.48795111 50.8634686,1.17973133 50.7892968,0.958250994 C50.7050107,0.708980351 50.6283104,0.116962576 50.5490814,0.116962576 L59.4876241,0.116962576 C59.3662521,0.116962576 59.2693231,0.70645396 59.1850369,0.95319821 C59.1100223,1.17299428 59.0434363,1.44247606 59.0038218,1.680799 C58.9633645,1.91912195 58.9431358,2.16839259 58.9431358,2.38987293 C60.2942422,8.79259148 60.9710598,12.0078459 62.3289091,18.4122487" id="Fill-8"></path>
                                            <path d="M74.8945363,4.07152342 C73.2753999,4.06057572 72.4654104,4.05636507 70.8462741,4.04878589 C70.8488026,5.86947214 70.8496455,6.77981526 70.8521741,8.59965937 C72.4713104,7.7347913 73.2813,7.3019362 74.8987506,6.43285747 C74.8970648,5.487987 74.896222,5.01555176 74.8945363,4.07152342 M79.6440589,18.7405954 C79.6845163,19.002498 79.7561595,19.2576636 79.8573028,19.5060921 C79.9584461,19.7545206 80.0671752,20.0063176 80.1919187,20.2286401 C80.3402623,20.4930691 80.4961916,20.7473925 80.6175636,20.9815048 C77.9785653,20.8518167 76.6586447,20.7979204 74.0179606,20.712023 C74.1393326,20.492227 74.3239192,20.2421142 74.4410769,20.0037913 C74.5337917,19.8159961 74.6121778,19.5515672 74.7124782,19.3140863 C74.8119359,19.0774477 74.8827362,18.8307034 74.9231935,18.5746957 C74.9198221,16.8399068 74.9181364,15.9725123 74.9147649,14.2377234 C74.9130792,13.7888678 74.7815929,13.3509599 74.5186202,12.9290525 C74.2556475,12.5071451 73.9421031,12.0835535 73.57883,11.6599618 C72.4906962,12.2561902 71.9470507,12.5543044 70.858917,13.1505329 L70.8665027,18.4677451 C70.8673456,18.9149165 71.0081034,19.3966151 71.2921476,19.9145254 C71.4135196,20.1739016 71.5551203,20.4164352 71.7169496,20.6446526 C69.1007086,20.5747558 67.792588,20.5511761 65.1755041,20.5259122 C65.2960333,20.3044319 65.4806199,20.0526348 65.5986204,19.8134698 C65.6913352,19.6248325 65.7697212,19.3612456 65.8708646,19.1237648 C65.9711651,18.8854419 66.0217367,18.6386976 66.0217367,18.3835321 C66.0175224,11.958076 66.0149938,8.74619009 66.0107795,2.32073401 C66.0099367,2.09756941 65.959365,1.86682564 65.8590645,1.62766057 C65.7579212,1.38849549 65.6795351,1.0743808 65.5868204,0.884059292 C65.4679769,0.642367825 65.2842332,0.116878363 65.1637041,0.116878363 L77.6650209,0.116878363 C78.1875948,0.116878363 78.641897,0.418361099 79.0262417,0.921955167 C79.4097435,1.42554923 79.6019159,1.94767017 79.6036016,2.43442163 C79.6078159,4.09173455 79.6095016,4.93302297 79.6137159,6.59117802 C79.6541733,7.04592851 79.7561595,7.44425626 79.9188317,7.77184505 C79.9997463,7.9360605 80.0604324,8.10280235 80.1017325,8.26617568 C79.1358136,8.79503366 78.6528542,9.05946265 77.6860924,9.58495212 C78.2516523,10.080967 78.7169116,10.6106671 79.0801848,11.1715261 C79.4451437,11.7315429 79.6280446,12.2898754 79.6288874,12.8423131 C79.6347875,15.2019629 79.6381589,16.3817878 79.6440589,18.7405954" id="Fill-10"></path>
                                            <path d="M88.0526105,19.1789244 C88.0542962,19.6100952 88.1958969,20.1002152 88.4799411,20.6501265 C88.602156,20.924661 88.7437567,21.2000377 88.9064289,21.4770987 C86.2944021,21.2935142 84.9871245,21.2118275 82.3725691,21.0711917 C82.4930983,20.8168683 82.676842,20.5499129 82.7939997,20.3107478 C82.8867144,20.1204263 82.9642576,19.853471 83.0645581,19.6143059 C83.1640157,19.3734565 83.2145874,19.1393442 83.2137446,18.9102847 C83.1952016,12.2961914 83.1859301,8.98914475 83.1673872,2.37589356 C83.1665443,2.17967714 83.1151298,1.96746024 83.0139865,1.7375586 C82.9128431,1.50849909 82.834457,1.24575436 82.7400566,1.05038008 C82.6212132,0.802793695 82.4366266,0.527417005 82.3152545,0.266356535 C84.9247527,0.266356535 86.2295018,0.266356535 88.8381571,0.267198666 C88.6780135,0.533311919 88.5380986,0.799425172 88.4175694,1.0646963 C88.1368966,1.59523854 87.9986674,2.07525295 87.9995103,2.50642379 C88.0205818,9.1752556 88.031539,12.5100926 88.0526105,19.1789244" id="Fill-12"></path>
                                            <path d="M100.023768,4.43987132 C98.4535173,4.41039675 97.6688136,4.39608053 96.0985632,4.36997448 C96.1162633,9.80340078 96.1255348,12.5201139 96.1440777,17.9543824 C97.7143281,18.06807 98.4990318,18.1278612 100.068439,18.255023 C100.050739,12.7289623 100.041468,9.96593198 100.023768,4.43987132 M104.901405,20.5346704 C104.903091,21.067739 104.70249,21.5805965 104.302974,22.0698743 C103.902615,22.5591522 103.420498,22.770527 102.857467,22.7107357 C99.0696488,22.3073552 97.1732112,22.1288235 93.3786502,21.8180773 C92.8139333,21.7717601 92.3292881,21.480383 91.9255576,20.9456301 C91.5201414,20.4108772 91.3178547,19.893809 91.316169,19.3902149 C91.2942546,12.6472756 91.2824545,9.27538493 91.2605401,2.5316035 C91.2588544,2.02885156 91.4577696,1.52694175 91.8589716,1.02418982 C92.2601735,0.520595748 92.7422901,0.267956583 93.3061642,0.267956583 C97.0990394,0.268798714 98.9954771,0.268798714 102.788352,0.269640845 C103.351384,0.270482975 103.836029,0.534911967 104.239759,1.0679806 C104.64349,1.60104924 104.847462,2.13664427 104.849148,2.66971291 C104.870219,9.81603274 104.880334,13.3891927 104.901405,20.5346704" id="Fill-14"></path>
                                            <path d="M116.98618,4.77293395 C115.369572,4.72998529 114.560426,4.70893203 112.942975,4.66850976 C112.947189,6.78309957 112.949718,7.83997341 112.953932,9.95456321 C114.568011,9.01895617 115.37463,8.54146815 116.989552,7.56375459 C116.988709,6.44708948 116.987866,5.88959906 116.98618,4.77293395 M121.696088,22.5351515 C121.735703,22.854319 121.807346,23.1684336 121.906804,23.4766534 C122.006261,23.7848732 122.112462,24.0964615 122.237205,24.3794174 C122.384706,24.7129011 122.537264,25.0345949 122.657793,25.3293406 C120.040709,24.9150124 118.730903,24.7196381 116.108762,24.3499428 C116.228448,24.1023564 116.412192,23.8227691 116.528507,23.557498 C116.62375,23.3393861 116.697922,23.0412719 116.798222,22.7701059 C116.89768,22.4989399 116.967637,22.2142997 117.008095,21.9153434 C117.005566,19.8647555 117.00388,18.8398826 117.001352,16.7892947 C117.000509,16.2579104 116.869022,15.7315788 116.607735,15.2178791 C116.346449,14.7033374 116.03459,14.184585 115.67216,13.6666747 C114.589083,14.3050096 114.047123,14.6199665 112.964047,15.2414588 C112.969104,17.7114277 112.971632,18.9468332 112.97669,21.4176442 C112.977532,21.9372388 113.117447,22.5098876 113.400649,23.1414855 C113.521178,23.454758 113.662779,23.7520301 113.822922,24.0341438 C111.224381,23.6829754 109.923004,23.51876 107.320248,23.2113823 C107.438249,22.9730594 107.623678,22.7035776 107.73915,22.448412 C107.832708,22.2404058 107.909408,21.9523971 108.008023,21.6921788 C108.107481,21.4328026 108.157209,21.1557416 108.156367,20.8660487 C108.137824,13.5630926 108.127709,9.91161456 108.108323,2.60865844 C108.108323,2.35517715 108.056066,2.09074815 107.955766,1.81958212 C107.854622,1.54757395 107.777079,1.20061617 107.681836,0.979977962 C107.562992,0.706285534 107.377563,0.11679415 107.257034,0.11679415 L119.758351,0.11679415 C120.281767,0.11679415 120.734384,0.467962589 121.117886,1.07429658 C121.500545,1.68147271 121.691874,2.30717571 121.691874,2.8941407 C121.692717,4.89083223 121.692717,5.90223102 121.692717,7.89892255 C121.732331,8.44883379 121.833475,8.93053247 121.995304,9.33138661 C122.074533,9.53181368 122.135219,9.73560927 122.174833,9.93435208 C121.211443,10.5356333 120.729327,10.8329054 119.765936,11.417344 C120.328968,12.0363099 120.790855,12.6940139 121.152443,13.3870873 C121.51403,14.0793186 121.694403,14.7631286 121.694403,15.4284118 C121.695245,18.2714445 121.696088,19.6929609 121.696088,22.5351515" id="Fill-16"></path>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </svg>
                        Rue Emile Francqui 6/3 </br>
                        1435 Mont-saint-Guibert </br>
                        Belgium
                    </p>
                    <p>
                        <a href="tel:+32472241688">(+32)472.24.16.88</a>
                        <a href="mailto:yo@devarior.com">yo@devarior.com</a>
                    </p>
                </main>
            </div>
        </section>
        <!-- build:js(./)  /assets/scripts/vendor.js -->
        <script type="text/javascript" src="node_modules/three/build/three.min.js"></script> 
        <script type="text/javascript" src="node_modules/tween.js/src/Tween.js"></script>
        <script type="text/javascript" src="node_modules/battlebelt-appear/build/appear-es5.min.js"></script>
        <script src="node_modules/battlebelt-stick/build/stick-es5.min.js" charset="utf-8"></script>
        <script src="src/script/smooth-scroll.js" charset="utf-8"></script>
        <!-- endbuild -->
        <script async src="/assets/scripts/main.js" charset="utf-8"></script>
    </body>
</html>
<link href="https://fonts.googleapis.com/css?family=Raleway:300,600,900" rel="stylesheet">