{{ range where .Data.Pages "Title" "Homepage" }}
<!DOCTYPE html>
    <head>
        <title>Devarior</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-sacle=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" href="/assets/css/main.css" media="screen" title="responsive" charset="utf-8">
    </head>
    <body>
        <header>
            <nav class="main-nav">
                <div class="wrap">
                    <a href="{{ .Site.BaseURL }}" class="main-nav__logo">
                        <h1>Devarior website</h1>
                        <img src="/assets/img/logo.svg" alt="Devarior's logo">
                    </a>
                    <div class="main-nav__menu">
                        <a href="#" class="main-nav__menu-button">
                            <span class="main-nav__menu-button__1"></span>
                            <span class="main-nav__menu-button__2"></span>
                        </a>
                        <ul class="main-nav__menu__links">
                            <li><a data-scroll data-options='{"offset": 70}' class="main-nav__menu__links__item" href="#work">Work</a></li>
                            <li><a data-scroll class="main-nav__menu__links__item" href="#contact">Get in touch</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="anim"></div>
        <section class="presentation">
            <header class="wrap"> 
                <h2 class="presentation__text js-appear-load js-appear--from-top">
                    {{ .Params.punchline }}
                </h2>
            </header>
            <a data-scroll data-options='{"offset": 70}' href="#beliefs" class="presentation__scroll">
            </a>
        </section>

{{ end }}