{{ partial "header.html" . }}

<section id="beliefs" class="beliefs wrap section">
    <section class="js-appear-scroll js-appear--from-bottom">
        <header class="hide">
            <h2>
                Beliefs
            </h2>
        </header>
        <section class="beliefs__highlight">
            <strong>We strongly believe</strong>
            that if we trust our partners and if we get fun from our daily work, it will involve quality and creativity.
        </section>
    </section>
    <section class="beliefs__areas js-appear-scroll js-appear--from-bottom">
        <header>
            <h2>Our areas:</h2>
        </header>
        <ul class="beliefs__areas__items">
           
            <li class="beliefs__areas__items__item">
                <h3>
                    title
                </h3>
                <p>
                    belief
                </p>
            </li>
        </ul>
    </section>
</section>
<span id="works" class="home__anchor-magnet"></span>
<section id="work" class="work">
    <div class="wrap">
        <header>
            <h2 class="section-title">Our work</h2>
        </header>
        <main>
            <ul class="work__list">
                <li class="work__list__items">
                    <a href="link" 
                       target="_blank" 
                       class="work__list__items__inner" 
                       style="background-image:url('')">
                        <div>
                            <header>
                                <h3>title</h3>
                            </header>
                            <main>
                                <section>
                                    <h4>Owning</h4>
                                    <p class="colored">
                                        Owning
                                    </p>
                                </section>
                                <section>
                                    <h4>Devariors</h4>
                                    <p class="colored">
                                        Devariors
                                    </p>
                                </section>
                                
                                <section>
                                    <h4>Hosting</h4>
                                    <p>
                                        Hosting
                                    </p>
                                </section>
                            </main>
                        </div>
                    </a>
                </li>
                
            </ul>
        </main>
    </div>
    <div class="pagination">
        <a href="#works" class="pagination__previous"><</a>
        <ul class="pagination__numbers">
            
            <li><a href="#works">page</a></li>
            
            <li><a href="#" class="current"></a></li>
            
            <li><a href="#works"></a></li>
            
        </ul>
        <a href="#works" class="pagination__next">></a>
    </div>
</section>

{{ partial "footer.html" . }}