.pagination {
    margin: rem($space-s) auto;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    font-size: rem(24);
}

    .pagination__numbers {
        display: flex;
        list-style: none;
        padding: 0;

        a {
            padding: 0 rem(3);
            color: lighten($color-dark, 30%);

            &.current {
                color: $color-dark;
            }
        }
    }

    .pagination__previous, .pagination__next {
        color: $color-dark;
        padding: 0 rem(3);
    }
