.main-nav {
    position: fixed;
    z-index: 100;
    left: 0;
    right: 0;

    transition: all $time-s $ease-in-out-primary;

    >div {
        display: flex;
    }

    &.top {
        background-color: $color-dark;

        .main-nav__menu__links__item {
            color: $color-primary;
        }

        .main-nav__menu-button__1, .main-nav__menu-button__2 {
            background: $color-primary;
        }
    }

    &.hide-elem {
        transform: translateY(-90%);
    }
}

    .main-nav__logo {
        background-color: $color-dark;
        padding: px($space-s);

        h1 {
            height: 0;
            position: absolute;
            left: -999em;
        }

        img {
            display: block;
        }
    }

    .main-nav__menu {
        margin-left: auto;
        display: flex;
        height: auto;

        &.active {

            .main-nav__menu__links__item {
                color: $color-primary;
                padding-left: 0;
            }

            .main-nav__menu-button__1, .main-nav__menu-button__2 {
                background: $color-primary;
            }

            .main-nav__menu-button__1 {
                transform: translateY(4px) rotate(45deg);
            }

            .main-nav__menu-button__2 {
                transform: translateY(-4px) rotate(-45deg);
            }

            .main-nav__menu__links {
                opacity: 1;
                pointer-events: auto;
            }
        }
    }

        .main-nav__menu-button {
            display: block;
            position: relative;
            padding: rem($space-xs);
            z-index: 110;
            display: flex;
            justify-content: center;
            flex-direction: column;

            @include mq($bp-xs) {
                display: none;
            };
        }

            .main-nav__menu-button__1, .main-nav__menu-button__2 {
                content: " ";
                display: block;
                width: 30px;
                height: 4px;
                background: $color-primary;
                transform-origin: center center;

                transition: transform $time-s $ease-in-out-primary;
            }

            .main-nav__menu-button__1 {
                margin-bottom: 4px;
            }

        .main-nav__menu__links {
            list-style: none;
            padding: 0;
            display: flex;
            align-items: center;

            @media screen and (max-width: $bp-xs) {
                position: absolute;
                justify-content: center;
                align-items: center;
                left: 0;
                width: 100vw;
                height: 100vh;
                flex-direction: column;
                background-color: $color-dark;
                z-index: 100;
                font-size: rem(24);
                opacity: 0;
                pointer-events: none;

                transition: opacity $time-s $ease-in-out-primary;
            }
        }

            .main-nav__menu__links__item {
                display: inline-block;
                padding: px($space-s) 0 px($space-s) px($space-s);

                transition: all $time-s $ease-in-out-primary;
            }
